{% extends 'food/base.html' %} {% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card">
        <div class="card-header bg-info text-white">
          <div class="card-title">
            Register
          </div>
        </div>
        <div class="card-body">
          <form action="" method="post">
            {% csrf_token %} 
            {% for field in form %}
              <div class="form-group mt">
                <div class="form-group mt">
                  {{field.name }}<br>
                  {{field}}
                  {% if field.errors %}
                <div class="text-danger">
                {% for error in field.errors %}
                  <small>{{ error }}</small><br>
                {% endfor %}
                </div>
              {% endif %}
                </div>
              {%endfor%}
            <button type="submit" class="btn-secondary">Register</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
